<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>New Leave Permission Request</title>
</head>

<body>
    <div class="container-fluid">
        <div style="background-color: #324567;">
            <br>
        </div>

        <div style="padding: 10px;">
            <div style="padding-left: 20%">
                <div>
                    Assalamualaikum wr.wb Bapak/Ibu {{dosenWali}}, <br><br>

                    Sebuah permohonan izin keluar baru telah diajukan oleh mahasiswa: <br>
                    Nama Mahasiswa : <b>{{namaMahasiswa}}</b> <br>
                    NIM : <b>{{nim}}</b> <br>
                    Kelas : <b>{{kelas}}</b> <br>
                    Mata Kuliah : <b>{{matkul}}</b> <br>
                    Tanggal : <b>{{tanggal}}</b> <br>
                    Jenis Izin : <b>{{jenis}}</b> <br><br>

                    Silakan cek sistem Permitly untuk detail lebih lanjut dan konfirmasi. <br><br>

                    Terima Kasih, <br>
                    Sistem Permitly
                </div>
            </div>
        </div>
        <div style="background-color: #324567; color:white">
            Pesan ini dikirim menggunakan sistem Permitly <br>
        </div>
    </div>
</body>

</html>
