<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
     <p>Pengajuan tanggal {{tanggal}}, oleh :</p>  
     <p>Nama : {{nama}}</p>
     <p>NIM : {{nim}}</p><br>

     <p>dengan jenis pengajuan {{jenis}} telah di {{status}} oleh {{dosen}}</p>
</body>
</html>